@model Band_Web.ViewModels.TicketPurchaseViewModel

@{
    ViewBag.Title = "TicketPurchase";
    Layout = "~/Views/Layout/_Layout.cshtml";
    if (TempData["Error"] != null)
    {
        string alert = Json.Encode(TempData["ERROR"]);
        <script>
            alert(alert);
        </script>
    }
}

@section Styles{
    <link href="~/Content/CSS/TicketPurchase.css" rel="stylesheet" />
}
<div class="container">
    <h2>TicketPurchase</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <hr />
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="form-tab">
            <h3>Please confirm your order detail</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">Date: @Model.tticketDetail.TicketDate.ToString("yyyy-MM-dd")</li>
                <li class="list-group-item list-group-item-dark">Location: @Model.tticketDetail.TicketLocation</li>
                <li class="list-group-item list-group-item-dark">Venue: @Model.tticketDetail.TicketVenue</li>
            </ul>
            <form method="post" enctype="multipart/form-data" action="/tour/TicketPurchase">
                <label>Account</label><input class="form-control" type="text" required name="Account" value="@Model.tUser.UserAccount" />
                <label>Email</label><input class="form-control" type="text" required name="Email" value="@Model.tUser.UserEmail" />
                <label>Quantity</label><input class="form-control" type="number" required max="4" min="1" value="1" name="Quantity" />
                <p id="totalPrice">Total Price:</p>
                <button class="btn btn-lg btn-secondary" type="submit">Confirm</button>
                <input type="hidden" value="@Model.tticketDetail.TicketDetailId" name="TicketDetailId" />
                <input type="hidden" value="@Model.tUser.UserId" name="UserId" />
                <input type="hidden" value="@Model.tticketDetail.TicketDate" name="TicketDate" />
                <input type="hidden" value="@Model.tticketDetail.TicketLocation" name="TicketLocation" />
                <input type="hidden" value="@Model.tticketDetail.TicketVenue" name="TicketVenue" />
            </form>
        </div>
        <div class="tab-pane fade" id="" role="tabpanel" aria-labelledby="profile-tab">
        </div>
        <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="profile-tab">
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "List", "", new { @class = "btn btn-secondary" })<span id="span"> | </span>
        <a class="btn btn-secondary" id="nav-home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="nav-home" aria-selected="true">NEXT</a>
    </p>
</div>