@model IEnumerable<Band_Web.Models.PostModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/_Layout.cshtml";
    if (TempData["Error"] != null)
    {
        string error = Json.Encode(TempData["Error"]);
        <script>alert(error)</script>
    }
}

@section Styles{
    <link href="~/Content/CSS/post.css" rel="stylesheet" />
}
@section Scripts{
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PostModal">Create</button>
<article class="blog-card spring-fever">
    <img src="https://unsplash.it/600/800?image=1061" />
    <div class="title-content">
        <h3><a href="#">10 inspiring photos</a></h3>
        <div class="intro"> <a href="#">Inspiration</a> </div>
    </div>
    <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...
        <a href="#">Read Article<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
        <ul class="utility-list">
            <li><span class="licon icon-like"></span><a href="#">2</a></li>
            <li><span class="licon icon-com"></span><a href="#">12</a></li>
            <li><span class="licon icon-dat"></span>03 jun 2017</li>
            <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
        </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</article>

@foreach (var item in Model)
{
    <article class="blog-card spring-fever">
        <img src="@item.PostBackGroundImage_base64" />
        <div class="title-content">
            <h3><a href="#">@item.PostTitle</a></h3>
            <div class="intro"><a href="#">@item.PostTitle</a></div>
        </div>
        <div class="card-info">
            @item.PostContent.Substring(0, 200) ...
            <a href="#">Read Article<span class="licon icon-arr icon-black"></span></a>
        </div>
        <div class="utility-info">
            <ul class="utility-list">
                <li><i class="far fa-thumbs-up"><a href="#">@item.PostLikeCount</a></i></li>
                <li><i class="far fa-thumbs-down"><a href="#">@item.PostLikeCount</a></i></li>
                <li><i class="far fa-comments"><a href="#">@item.PostReplyCount</a></i></li>
                <li><i class="far fa-calendar-alt">@item.LastEditDate.ToShortDateString()</i></li>
                <li>
                    <i class="far fa-tags"></i><a href="#">Photos</a>, <a href="#">Nice</a>
                </li>
                @if (item.PostUserId == 1 && Session[Band_Web.Models.SessionDictionary.User_Account].ToString() == "johnnyUserAccount")
                {
                    <li><i class="far fa-edit"><a href="#">Edit</a></i></li>
                }
            </ul>
        </div>
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
    </article>
}

<div class="modal fade" id="PostModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/posts/create">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="recipient-name" name="PostTitle">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="message-text" name="PostContent"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tags:</label>
                        <input type="text" class="form-control" id="tag-text" name="PostTag"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">POST</button>
            </div>
        </div>
    </div>
</div>