@model IEnumerable<Band_Web.Models.PostModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/_Layout.cshtml";
    int count = 0;
    string UserAccount = Session[Band_Web.Models.SessionDictionary.User_Account].ToString();
    if (TempData["Error"] != null)
    {
        string error = Json.Encode(TempData["Error"]);
        <script>alert(error)</script>
    }
    if (TempData["SaveError"] != null)
    {
        string error = Json.Encode(TempData["SaveError"]);
        <script>alert(error)</script>
    }
    if (TempData["ImageError"] != null)
    {
        string error = Json.Encode(TempData["ImageError"]);
        <script>alert(error)</script>
    }
}

@section Styles{
    <link href="~/Content/CSS/post.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Content/ckeditor5/build/ckeditor.js"></script>
    <script src="~/Content/Scripts/post.js"></script>
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PostModal" id="create">Create</button>

<section>
    <div class="container">
        <div class="content">
            <div class="content-img">
                <img src="https://images.unsplash.com/photo-1504364269860-8be73aabdff2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1068&q=80" alt="Body Building">
            </div>

            <div class="content-text">
                <span style="color:gray;font-size:0.2em;">posted by MCR on Aug 18, 2020 05:15pm</span>
                <h2 class="content-title">The Strength within</h2>
                <h4 class="content-subtitle">Unleash your inner beast</h4>
                <p class="content-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse aut deleniti magni. Quaerat unde non beatae hic veniam necessitatibus reiciendis reprehenderit tempore alias maxime delectus, ullam aut adipisci, aliquid velit dolores molestiae, eius nihil nam et ut fugiat iste perspiciatis quis? Veniam accusantium ut recusandae eaque quas laudantium nostrum?</p>
                <a href="#" class="btn">View More</a>
                <a href="#" class="like" id="reply"><i class="far fa-comment-dots"></i><span class="tooltiptext">loading...</span>8</a>
                <font class="like">&emsp;</font>
                <a href="#" class="like" id="like"><i class="fas fa-thumbs-up"></i><span class="tooltiptext">loading...</span>12</a>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    <section>
        <div class="container">
            <div class="content">
                <div class="content-img">
                    <img src="@item.PostMainImage_Path" alt="Body Building">
                </div>
                <div class="content-text">
                    <span style="color:gray;font-size:0.2em;">posted by @item.PostUserId on @item.LastEditDate</span>
                    @item.PostContent_Decode
                    <a href="#" class="btn">View More</a>
                    <a href="#" class="like" id="reply_@count"><i class="far fa-comment-dots"></i><span class="tooltiptext">loading...</span></a>
                    <font class="like">&emsp;</font>
                    <a href="#" class="like" id="like_@count"><i class="fas fa-thumbs-up"></i><span class="tooltiptext">loading...</span></a>
                </div>
            </div>
        </div>
    </section>
    count++;
}

<div class="modal fade" id="PostModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div></div>
                <form enctype="multipart/form-data" action="/posts/create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <textarea id="editor" class="form-control" name="PostContent"></textarea>
                    </div>
                    <div class="custom-file" style="width:20%;float:left;">
                        <input type="file" class="custom-file-input" id="customFile" name="PostMainImage">
                        <label class="custom-file-label" for="customFile">Choose Main Image</label>
                    </div>
                    <input type="hidden" value="@UserAccount" name="PostUserAccount" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">POST</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>