@model IEnumerable<Band_Web.Models.PostModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/_Layout.cshtml";
    if (TempData["Error"] != null)
    {
        string error = Json.Encode(TempData["Error"]);
        <script>alert(error)</script>
    }
    if (TempData["SaveError"] != null)
    {
        string error = Json.Encode(TempData["SaveError"]);
        <script>alert(error)</script>
    }
    if (TempData["ImageError"] != null)
    {
        string error = Json.Encode(TempData["ImageError"]);
        <script>alert(error)</script>
    }
    if (TempData["NotLogin"] != null)
    {
        string error = Json.Encode(TempData["NotLogin"]);
        <script>alert(error)</script>
    }
}

@section Styles{
    <link href="~/Content/CSS/post.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Content/ckeditor5/build/ckeditor.js"></script>
    <script src="~/Content/Scripts/post.js"></script>
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PostModal" id="create">Create</button>

@foreach (var item in Model)
{
    <section>
        <div class="container">
            <div class="content">
                <div class="content-img">
                    <img src="@item.PostMainImage_Path" alt="Body Building">
                </div>
                <div class="content-text overflow-auto">
                    <span style="color:gray;font-size:0.2em;">posted by @item.PostUserAccount on @item.LastEditDate</span>
                    @Html.Raw(@item.PostContent_Decode)
                    <a href="#" class="btn">View More</a>
                    <a href="#" class="reply" id="R_@item.PostId"><i class="far fa-comment-dots"></i> <span class="tooltiptext" id="reply_tooltiptext">loading...</span>@item.PostReplyCount</a>
                    <font class="space">&emsp;</font>
                    <a href="#" class="like" id="L_@item.PostId" data-cancel="0"><i class="fas fa-thumbs-up"></i> <span class="tooltiptext" id="like_tooltiptext">loading...</span>@item.PostLikeCount</a>
                </div>
            </div>
        </div>
    </section>
}

<div class="modal fade" id="PostModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div></div>
                <form enctype="multipart/form-data" action="/posts/create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <textarea id="editor" class="form-control" name="PostContent"></textarea>
                    </div>
                    <div class="custom-file" style="width:20%;float:left;">
                        <input type="file" class="custom-file-input" id="customFile" name="PostMainImage">
                        <label class="custom-file-label" for="customFile">Choose Main Image</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">POST</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>